/*
* If YAWIK.bundled=true, the modules will be included in the tgz/zip package
*/
YAWIK.bundled=false

/*
* Put a PIWIK Code into the partial
*/
yawik.demoskin.piwik=module/YawikDemoSkin/view/piwik.phtml

